@import url(https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300);

.title {

    text-align: center; 
    background-color: #50A6B3; 
    color: #FAF3F6;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 50px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.topnav {
    background-color: #50A6B3;
    overflow: hidden;
    padding-bottom: 0.5em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #FAF3F6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.3em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#2A2F3F
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color:#2A2F3F
  }

.firstBlock {
    background-color: #BFA082;
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 7em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: 'Roboto';
}

footer {
  text-align: center; 
  margin-top: 5em;
}
