@import url(https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300);

.title {

    text-align: center;
    background-color: #50A6B3;
    color: #FAF3F6;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 1em;
    font-size: 60px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.underTitle {

  text-align: center;
  background-color: #50A6B3;
  color: #FAF3F6;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: 2em;
  font-size: 25px;
  font-family: 'Montserrat';

}

.topnav {
    background-color: #50A6B3;
    overflow: hidden;
    padding-bottom: 0.5em;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #FAF3F6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.3em;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    color:#2A2F3F
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    color:#2A2F3F
  }

.success_stories {
    background-color: #2A2F3F;
    color: #FAF3F6;
}

.story_one {
    background-color: #93A428;
    color: #FAF3F6;
}

.story_two {
    background-color: #BFA082;
    color: inherit;
}

.story_three {
    background-color: #50A6B3;
    color: inherit;
}

.story_four {
    background-color: #93A428;
    color: #FAF3F6;
}

.success_stories, .story_one, .story_two, .story_three, .story_four {
    text-align: center;
    display: block;
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 7em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    font-family: 'Roboto';
}

.success_stories a {
    text-decoration: none;
    font-family: 'Roboto';
    color: inherit;
}

.success_stories a:hover {
    color: #50A6B3;
}


footer {
  text-align: center;
  margin-top: 5em;
}
