@import url(https://fonts.googleapis.com/css?family=Montserrat:300|Roboto:300);

.title {

    text-align: center; 
    background-color: #50A6B3; 
    color: #FAF3F6;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 1em;
    font-size: 60px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

.underTitle {
 
  text-align: center; 
  background-color: #50A6B3; 
  color: #FAF3F6;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: 2em;
  font-size: 25px;
  font-family: 'Montserrat';

}

.topnav {
    background-color: #50A6B3;
    overflow: hidden;
    padding-bottom: 0.5em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #FAF3F6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.3em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:#2A2F3F
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color:#2A2F3F
  }

.mySlides{
    width: 100%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.firstBlock {
    background-color: #50A6B3;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Roboto';
    color: #FAF3F6;
    font-size: 20px;
}

.homeDog {
  background-color: #50A6B3;
  margin-left: 0em;
  margin-right: 0em;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.storyButton {
  background-color: #FAF3F6;
  width: 70%;
  border: none;
  color: #2A2F3F;
  font-family: 'Montserrat';
  font-size: 20px;
  margin-bottom: 0px;

}

.rescue {
  background-color: #2A2F3F; 
  color: #FAF3F6; 
  font-family: 'Montserrat';
  text-align: left;
  margin-top: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer {
  text-align: center; 
  margin-top: 5em;
}
